{% extends 'myapp/base.html' %}
{% load static%}
{% block content %}
    <!--Site hero starts here-->
    <main class="mt-10 mx-auto max-w-7xl px-4 sm:st-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28">
        <div class="sm:text-center lg:text-left">
                <h1 class="text-4xl font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
                        <span class="block xl:inline"> Premium Products</span>
                        <span class="block text-green-500 xl:inline"> Non premium products </span>
                </h1>
                <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">Get the best quality used product across the globe. Free Shipping</p>
        </div>

    </main>

    <!--site hero ends here-->
        {% for product in products %}
        
        <a href = "{% url 'myapp:product_detail' product.id %}">
        {{product.name}} {{product.price}} {{product.desc}}</br>
        <! tags for displaying an image >
        <img src="{{product.image.url}}" alt="">
        </a>
        {% endfor %}
{% endblock %}

