{% extends 'myapp/base.html' %}

{% block content %}
<h1 class="text-2xl m-10 font-bold"> Delete Product</h1>
<form method = "POST" class="bg-white shadow-md m-10 w-3/5 rounded px-8 pt-6 pb-8 mb-4">
        <!--In Django when we are submitting data via form always use csrf_token before input field-->
    {% csrf_token %}
    <div class="mb-4">
        <label class="blovk text-gray-700 text-sm font-bold mb-2"> Are you sure You want to delete this product </label>
    </div>
    <div class="mb-4">
        <label class="blovk text-gray-700 text-sm font-bold mb-2"> {{object.name}} </label>
    </div>
    <div class="mb-4">
        <img src='{{object.image.url}}' alt="">
    </div>
    <input class="bg-red-500 text-white px-5 py-2" type = "submit" name= "confirm" value="Confirm">
   <!-- if user click on conform button post method will be submitted and product will be deleted -->
    <a class="button bg-green-500 text-white px-5 py-3" href = "{% url 'myapp:products' %}" > Cancel </a>
    <!--If user clicks on cancel button nothing will happen and user will be redirected to the above url -->
    
{% endblock %}
