{% extends 'myapp/base.html'%}
{% block content%}
<h1 class="text-2xl m-10 font-bold">Add Product </h1>


<form  class="w-3/5 bg-white shadow-md m-10 px-8 py-8" method="POST" enctype="multipart/form-data">
    <!--Whenever your form accepts an image mention different attributes called enc type-->
    <!--In Django when we are submitting data via form always use csrf_token before input field-->
    {% csrf_token %}
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for=""> Product Name</label>
        <div class="shadow appearance-none border rounded w-1/3 py-2 px-3 mr-10 text-gray-700">
            {{form.name}}
        </div>
    </div>
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="">Product Price</label>
        <div class="shadow appearance-none border rounded w-1/3 py-2 px-3 mr-10 text-gray-700">
            {{form.price}}
        </div>
    </div>
   <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="">Product Description</label>
        <div class="shadow appearance-none border rounded w-1/3 py-2 px-3 mr-10 text-gray-700">
            {{form.desc}}
        </div>
   <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="">Product Image</label>
        <div class="shadow appearance-none border rounded w-1/3 py-2 px-3 mr-10 text-gray-700">
            {{form.image}}
        </div>
   </div>
   <div class="mb-4">
    <!--Hidden makes this field hidden-->
    <div class="shadow appearance-none border rounded w-1/3 py-2 px-3 mr-10 text-gray-700">
        {{form.seller_name}}
    </div>
</div>
   <div class="mb-4">
    <!--This will only accept the image file type-->
    <input class="bg-green-500 text-white px-5 py-2" type="submit" name ="Add Product" value="Add Product" id="">
   </div>
</form>

{%endblock%}
<!--Now we create a view to render this form in views.py-->
